/***************************
GENERAL
****************************/
*{
	box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;

}
#wrapper {

  max-width: 1349px;
  margin: 0 auto;
  padding: 0 1.5%;
  }

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}






/***************************
HEADING
****************************/
header {
float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  height: 550px;
  background: url(../img/mountains.jpg) no-repeat center;
}




h1 {
  font-family: 'impact', sans-serif;
  margin: 100px 0;
  font-size: 6em;
  font-weight: bold;
  line-height: 0.8em;


}

h2 {
  font-size: 0.75;
  margin: -100px 0 0;
  font-weight: normal;
}

#logo {

  text-align: center;
  margin: 0;
  
 

}



/***************************
NAVIGATION
****************************/

nav {
  text-align: top-left;
  padding: 40px 35px;
  margin: 40px 20 0;
  font-size: 1.4em;
 
}

nav ul {
list-style: none;
  margin: 0 10px;
  padding: 0;
 
  }

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}



/***************************
FOOTER
****************************/
footer {
  font-size: .95em;
  text-align: center;
  clear: both;
  padding: 10px;
  color: blue;
  background-color: lightblue;

}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 3px;
  color: white;
}



/***************************
PAGE: HOME
****************************/
#gallery {
  margin: 0%;
  padding: 0px;
  list-style: none;
}

#gallery li {
  float: left;
  width: 30%;
  margin: 1.5%;
  background-color: none;
   color: blue;
   text-align: center;
}

#gallery li a p {
    margin: 1.5%;
    padding: 0 0 20 0px;
    font-size: 1em;
    text-align: center;
}




/***************************
PAGE: About
****************************/
.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 3%;

}


***************************
PAGE: DOWNLOADS
****************************/


#gallery2 {
  margin: 0%;
  padding: 0px;
  list-style: none;
}

#gallery2 li {
  float: left;
  width: 30%;
  margin: .9%;
  background-color: none;
   color: blue;
   text-align: center;
}

#gallery2 li a p {
    margin: .9%;
    padding: 0 0 15 0px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;

}




/***************************
PAGE: CONTACT
****************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a  {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter {
  background-image: url('../img/twitter_wrap.png');
}





/***************************
COLORS
****************************/
/*site body*/
body {
  background-color: #transparent;
  color: #999;
  text-position: center;

}

/* transparent header*/
header {
  background-color: transparent;
  border-color: #599a68;
}
/* nav background on mobile devices*/
nav {
  background: none; 
  
}

/* logo text*/
h1, h2 {
  color: #fff;
 
}

/* links*/
a {
  color: blue;
}

/* nav link*/
nav a, nav a:visited {
  color: rgb(255, 169, 73);
}

/* selected nav link*/
nav a.selected, nav a:hover {
  color: #fff;
}
